.my_btn {
  border-radius: 0.5rem;
  padding: 1rem 3rem;
  text-transform: capitalize;
  cursor: pointer;
  text-align: center;
  font-size: 1.5rem;
  background-color: var(--main_color);
  color: #fff;
  margin-top: 1rem;
}

.block_style {
  display: block;
  width: 100%;
}

.inline_style {
  display: inline-block;
}

.main_bg {
  background-color: var(--main_color);
}

.option_bg {
  background-color: var(--orange);
}

.delete_bg {
  background-color: var(--red);
}

.my_btn:hover {
  background-color: var(--black);
  color: #fff;
}

@media (max-width: 760px) {
  .my_btn {
    display: inline-block;
  }
}
