.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  background: rgba(0, 0, 0, 0.5);
}

.content {
  padding: 2rem;
  background: #fff;
  border-radius: 0.5rem;
  min-width: 70rem;
  min-height: 40rem;
}

.modal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}
