.answer_item{
    flex: 1 1 30rem;
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 2rem;
    text-align: center;
  }
  .answer_item {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--black);
  }