:root {
  --main_color: #8e44ad;
  --red: #e74c3c;
  --orange: #f39c12;
  --white: #fff;
  --black: #2c2c2c;
  --light_dark: #888;
  --light_bg: #eee;
  --border: 0.1rem solid rgba(0, 0, 0, 0.3);
}

* {
  margin: 0;
  padding: auto;
  font-family: Georgia, "Times New Roman", Times, serif;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
*::selection {
  background-color: var(--main_color);
  color: #fff;
}

*::-webkit-scrollbar {
  height: 0.5rem;
  width: 1rem;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--main_color);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: var(--light_bg);
  padding-left: 30rem;
}
.active_bar {
  padding-left: 0;
}
section {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

/* Media queries */

@media (max-width: 120px) {
  body {
    padding-left: 0;;
  }
}


@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 760px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
